<p>login works!</p>


<div class="main">
    <div class="card forms">
        <div class="card-body">
            <div class="loginForm" *ngIf="alreadyHaveAccount">
                <h5>  Sign In </h5>
                <div class="input-group flex-nowrap">
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                      </div>
                  </div>
                  <div class="input-group flex-nowrap">
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                      </div>
                  </div>
                  <div class="text-right">
                    <button class="btn btn-primary" (click)="onLogin()">
                        Log In
                    </button>
                  </div>
            </div>


             <div class="signUpForm" *ngIf="!alreadyHaveAccount">
              <h5>  Create Account</h5>
              <div class="loginForm">
                <div class="input-group flex-nowrap">
                 <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="addon-wrapping">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                    </div>
                </div>
                <div class="input-group flex-nowrap">
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                      </div>
                 </div>
                <div class="input-group flex-nowrap">
                    <input type="Conform password" class="form-control" placeholder="Confirm Password" aria-label="Confirm Password" aria-describedby="addon-wrapping">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                      </div>
                 </div>
                <div class="text-right">
                    <button class="btn btn-primary" (click)="onLogin()">
                      Sign Up
                    </button>
                 </div>
            </div>
             </div>
            <p  *ngIf="alreadyHaveAccount">
                <a href="javascript:;"  class="btn btn-link"       (click)="alreadyHaveAccount = !alreadyHaveAccount">
                   Don't Have Account
                </a>
            </p>
            <p  *ngIf="!alreadyHaveAccount">
                <a href="javascript:;" class="btn btn-link"      (click)="alreadyHaveAccount = !alreadyHaveAccount">
                   Already Have Account
                </a>
            </p>
        </div>
    </div>
</div>